[project]
	description = example-backbone-app-master
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/PHP Framework JS Coding (softdevelop)
[access "refs/for/refs/*"]
	read = group user/PHP Framework JS Coding (softdevelop)
	push = group user/PHP Framework JS Coding (softdevelop)
	label-Code-Review = -2..+2 group user/PHP Framework JS Coding (softdevelop)
	label-Verified = -1..+1 group user/PHP Framework JS Coding (softdevelop)
	rebase = group user/PHP Framework JS Coding (softdevelop)
	removeReviewer = group user/PHP Framework JS Coding (softdevelop)
	submit = group user/PHP Framework JS Coding (softdevelop)
[access "refs/heads/*"]
	read = group user/PHP Framework JS Coding (softdevelop)
	create = group user/PHP Framework JS Coding (softdevelop)
	push = +force group user/PHP Framework JS Coding (softdevelop)
	pushMerge = group user/PHP Framework JS Coding (softdevelop)
[access "refs/tags/*"]
	push = +force group user/PHP Framework JS Coding (softdevelop)
	pushTag = group user/PHP Framework JS Coding (softdevelop)
	pushSignedTag = group user/PHP Framework JS Coding (softdevelop)
